* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-area {
    height: 100vh;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-box {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        &__imagesBox {
            background-color: #353535;
            width: 80%;
            display: flex;
            padding: 11px;
            overflow-x: hidden;
            border-radius: 8px;
            margin-left: 0px;
        }

        &__images {
            display: flex;
            transition: ease-in-out .4s;
            img {
                border-radius: 5px;
                margin-right: 10px;
            }
        }

        &__arrows {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__arrow {
            background-color: #353535;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 13px;
            cursor: pointer;

            i {
                color: #9f9f9f;
            }
        }
    }
}