* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-area {
  height: 100vh;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-area .carousel-box {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carousel-area .carousel-box__imagesBox {
  background-color: #353535;
  width: 80%;
  display: flex;
  padding: 11px;
  overflow-x: hidden;
  border-radius: 8px;
  margin-left: 0px;
}
.carousel-area .carousel-box__images {
  display: flex;
  transition: ease-in-out 0.4s;
}
.carousel-area .carousel-box__images img {
  border-radius: 5px;
  margin-right: 10px;
}
.carousel-area .carousel-box__arrows {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.carousel-area .carousel-box__arrow {
  background-color: #353535;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 13px;
  cursor: pointer;
}
.carousel-area .carousel-box__arrow i {
  color: #9f9f9f;
}

/*# sourceMappingURL=style.css.map */
